*{
    /* Universal */
    font-size: 1em;
    font-family: 'Zilla Slab Highlight', cursive;
}

body {
    font-size: large;
}

h1 {
    /* Tipo */
    font-size: 3em;
    font-family: 'Zilla Slab Highlight', cursive;

}

h2 {
    /* Tipo */
    font-size: 4em;
    font-family: 'Zilla Slab Highlight', cursive;

}

h3 {
    /* Tipo */
    font-size: 5em;
    font-family: 'Zilla Slab Highlight', cursive;

}

.importante {
    /* Classe */
    color: red;
    font-family: 'Zilla Slab Highlight', cursive;

}

#unico {
    /* ID */
    background-color: red;
}

a[target=_blank] {
    /* Atributo */
    background-color: lightblue;
}

div:hover {
    /* Pseudo-classe */
    background-color: purple;
}

p::first-letter {
    /* pseudo-elemento */
    font-size: 2em;
}