*{
    /* Universal */
    font-size: 1em;
}


body {
    background-color:black;
}

h1 {
    /* Tipo */
    font-size: 3em;
}

.importante {
    /* Classe */
    color: red;
}

#unico {
    /* ID */
    background-color: red;
}

a[target=_blank] {
    /* Atributo */
    background-color: lightblue;
}

div:link {
    background-color: blue;
}

div:visited {
    background-color: purple;

}

div:hover {
    /* Pseudo-classe */
    background-color: whitesmoke;
}

div:active {
    background-color: yellow;
}



p::first-letter {
    /* pseudo-elemento */
    font-size: 2em;
}