*{
    /* Universal */
    font-size: 1em;
}

body {
    background-color:rgb(75, 65, 65);
}

h1 {
    /* Tipo */
    font-size: 3em;
}

h2 {
    /* Tipo */
    font-size: 2em;
}

.introducao::before {
    content: url("images/description_black_24dp.svg");

}

.localizacao::before {
    content: url("images/localization_black_24dp.svg");
}

.multimedia::before {
    content: url("images/multimedia_black_24dp.svg");
}

.informacoes::before {
    content: url("images/info_black_24dp.svg");
}

.quizz::before {
    content: url("images/quiz_black_24dp.svg");
}

.html5css::before {
    content: url("images/code_black_24dp.svg");
}

.home::before {
    content: url("images/home_black_24dp.svg");
}

#unico {
    /* ID */
    background-color: red;
}

a[target=_blank] {
    /* Atributo */
    background-color: lightblue;
}

a:link {
    color: blue;
}

a:visited {
    color: mediumspringgreen;

}

a:hover {
    /* Pseudo-classe */
    background-color: whitesmoke;
}

a:active {
    background-color: yellow;
}

p::first-letter {
    /* pseudo-elemento */
    font-size: 2em;
}